@import "sane.css";

html {
    overflow: hidden;
}

body {
    background-color: #1e1e1e;
    font-family: Verdana, sans-serif;
    color: #ffccbc;
    margin: 0;
    user-select: none;
    overflow: hidden;
}

h1 {
    font-family: Georgia, serif;
    font-size: 60px;
}

#gamelist {
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    border-spacing: 0px;
    border-collapse: collapse;
}

#gamelist tbody tr:hover {
    background-color: #64b5f6;
    cursor: pointer;
}

#gamelist thead td {
    color: #999;
    padding-bottom: 10px;
}

#gamelist tr {
    border-bottom: 1px solid white;
}

#gamelist tr:last-child {
    border-bottom: none;
}

#gamelist td {
    padding: 5px 20px 5px 20px;
}

#gamescreen .card {
    position: absolute;
}

#gamescreen #hand .card {
    transform:
        translate(-100%, 0)
        rotate( calc(var(--nth-child) * 7.5deg - 45deg) )
        translate(50%, -50%);
    transform-origin: bottom right;
    bottom: -24%;
    left: 50%;
    cursor: pointer;
}

.card {
    width: 205.75px;
    height: 320.25px;
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5))
}

.card img {
    width: 100%;
}

.card.small {
    width: 102.875px;
    height: 160.0125px;
    -webkit-filter: drop-shadow(6x 6px 12px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.5))
}

#gamescreen #playerme {
    position: absolute;
    bottom: 20%;
    right: 2%;
}

#gamescreen #storageme .card {
    left: 20%;
    transform: rotate( calc(var(--nth-child) * 3deg - 20deg) );
}

#gamescreen #player0 {
    position: absolute;
    top: 3%;
    left: 20%;
}

#gamescreen #storage0 .card {
    left: 20%;
    transform: rotate( calc(var(--nth-child) * 3deg - 20deg) );
}

#gamescreen #player1 {
    position: absolute;
    top: 3%;
    left: 50%;
}

#gamescreen #storage1 .card {
    left: 20%;
    transform: rotate( calc(var(--nth-child) * 3deg - 20deg) );
}

#gamescreen #player2 {
    position: absolute;
    top: 3%;
    left: 80%;
}

#gamescreen #storage2 .card {
    left: 20%;
    transform: rotate( calc(var(--nth-child) * 3deg - 20deg) );
}

#gamescreen #table .card {
    transform:
        translate(-50%, -50%)
        rotate( calc(var(--nth-child) * 30deg - 80deg) );
    left: 50%;
    top: 50%;
}

.hidden {
    display: none;
}

/*#gamescreen #hand .card:hover {
    box-sizing: border-box;
    outline: 10px solid green;
    outline-offset: -5px;
}*/